<!DOCTYPE html>
{% extends "layout.html" %}

{% load static %}


{% block title %}
    Local Cafe - Add A New Cafe
{% endblock %}

{% block content %}
    <h1>Add A New Cafe<h1>
    <div class="cafe-form">
        <form action="/" method="POST">
            <label for="name">Enter the cafe's name: </label>
            <input type="text" name="name" />
            <label for="name">Its Google Url: </label>
            <input type="text" name="map_url" />
            <label for="name">Its Photo  url: </label>
            <input type="text" name="img_url" />
            <label for="name">Its location: </label>
            <input type="text" name="location" />
            <label for="name">Number of seats (ex: 20-30): </label>
            <input type="text" name="seats" />
            <label for="name">Price of a coffee (ex: £1.5): </label>
            <input type="text" name="coffee_price" />
            <input type="submit" value="Submit" />
        </form>
    </div>
{% endblock %}
