<!DOCTYPE html>
{% extends "layout.html" %}

{% load static %}


{% block title %}
    Local Cafe - Add A New Cafe
{% endblock %}

{% block content %}
    <h1 class="cafe-page-title">Add A New Cafe<h1>
    <div class="cafe-form">
        <form class="form-add " action="{% url 'index:add_cafe' %}" method="POST" 
        enctype="multipart/form-data">
           {% csrf_token %}
           <div class="form-section">
            <label for="id_name" class="form-label">Cafe's name: </label>
            {{ form.name }}
           </div>
           <div class="form-section">
            <label for="id_map_url" class="form-label">Cafe's google url: </label>
            {{ form.map_url }}
           </div>
           <div class="form-section">
            <label for="id_img_url" class="form-label">Photo url: </label>
            {{ form.img_url }}
           </div>
           <div class="form-section">
            <label for="id_location" class="form-label">Cafe's location: </label>
            {{ form.location }}
           </div>
           <div class="form-section">
            <label for="id_seats" class="form-label">Number of seats: </label>
            {{ form.seats }}
           </div>
           <div class="form-section">
            <label for="id_coffee_price"  class="form-label">Coffee's price <span>(format: $1.5)</span>:</label>
            {{ form.coffee_price }}
           </div>
           <div class="form-checkboxes">
            <label for="id_has_sockets" title="Has Socket" class="form-checkbox">🪫:</label>
            {{ form.has_sockets }}
            <label for="id_has_toilet" title="Has Toilet"  class="form-checkbox">🚾:</label>
            {{ form.has_toilet }}
            <label for="id_has_wifi" title="Has Wifi"  class="form-checkbox">🛜:</label>
            {{ form.has_wifi }}
            <label for="id_can_take_calls" title="Can Take Calls"  class="form-checkbox">☎️:</label>
            {{ form.can_take_calls }}
           </div>
           <button class="form-submit">Add Cafe</button>
        </form>
    </div>
{% endblock %}
