<!DOCTYPE html>
{% extends "layout.html" %}

{% load static %}


{% block title %}
    Local Cafe - Home
{% endblock %}

{% block content %}
    <h1>Your Local Cafes<h1>
    <div class="cafe-list">
        {% for cafe in cafes %}
        <div class='cafe-card'>
            <div class='cafe-img'><img src="{{cafe.img_url}}" alt="Location photo"/></div>
            <div class='cafe-desc'>
                <h2>{{ cafe.name }}</h2>
                <div class='cafe-desc-sub'> {{ cafe.location }} </div>
                <div class='cafe-desc-sub'>
                    <span title="Coffee's price"> ☕ {{ cafe.coffee_price }}</span>
                    {% if cafe.seats %}<span title="Numer of seats">~ 🪑 {{ cafe.seats }}</span>{% endif %}
                </div>
                <div class='cafe-desc-sub'>
                    {% if cafe.has_sockets %}<span title="Has Socket">🪫</span>{% endif %}
                    {% if cafe.has_toilet %}<span title="Has Toilet">🚾</span>{% endif %}
                    {% if cafe.has_wifi %}<span title="Has Wifi">🛜</span>{% endif %}
                    {% if  cafe.can_take_calls %}<span title="Can Take Calls">☎️</span>{% endif %}
                </div>
            </div>
             
        </div>
       
        {% endfor %}
    </div>
{% endblock %}
