* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, sans-serif;
}

body {
    font-size: 14px;
    font-weight: 600;
    width: 100%;
    min-height: 100%;
}


nav {
    background-color: black;
    min-height: 50px;
    display: flex;
    align-items: center;

}

nav a {
    text-decoration: none;
    color: white;
}

main {
    width: 100%;
    margin: 0 auto;
    max-width: 1200px;
}

h1 {
    font-size: 28px;
    font-weight: 800;
    margin: 20px 0 35px 0;
}

.cafe-list {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    row-gap: 10px;
}

.cafe-card {
    margin-bottom: 25px;
    min-width: 350px;
    width: 400px;
    height: 200px;
    background-color: rgba(239, 239, 239, 0.4);
    padding: 10px 15px;
    display: flex;
    flex-direction: row;

    -webkit-box-shadow: 4px 4px 10px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: 4px 4px 10px 0px rgba(0,0,0,0.15);
    box-shadow: 4px 4px 10px 0px rgba(0,0,0,0.15);
}

.cafe-img {
    width: 35%;
    overflow: hidden;
}

.cafe-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}

.cafe-desc {
    width: 65%;
    height: 100%;
    padding: 15px 10px;
}

.cafe-card h2 {
    font-size: 18px;
    margin-bottom: 15px;
}

.cafe-desc-sub {
    color: grey;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 5px;
}